<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app="food">
  <head>
    <meta charset="utf-8">
    <title>
        BuzzFOOD
    </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <style media="screen">
      .box { width: 150px; border: 1px solid #9325BC; padding: 10px; }
      .box:hover { -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc; }
    </style>
  </head>
  <body ng-controller="SearchController as search">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>What Doth Thou Want</h2>

          <form name="searchQuery" class="form form-horizontal" ng-controller="formCtrl as ctrl" ng-submit="search.submit()">

            <span class="form-group">
                <input class="form-control" type="text" ng-model="ctrl.query" value="">
            </span>
            <span class="form-group">
              <input class="form-control" type="submit" value="Search">
              <!-- <input class="form-control"type="button" name="name" value="Surprise Me"> -->
              <!-- <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTcrqYznCNDlIoi3r6VzpYM_F9E-iYkbMPYdr3NtCQ0nfAdV5g-Khs3hlM" alt="" /> -->
            </span>
            <!-- {{formCtrl.queryText}} -->
            <!-- {{ctrl.returnQuery()}} -->
           </form>
        </div>
      </div>
      <div class="row">

        <form class="" ng-controller="imageCtrl as imgCtrl" ng-submit="imgCtrl.sendImages()">
          <div class=" col-sm-3" ng-repeat="(thumbnail,images) in search.results">
            <a href="#" class="image" ng-click="imgCtrl.addImage(images)">
                <img ng-src="{{thumbnail}}" class="box"alt="" width="200px"/>
            </a>

            <!-- <input name="name" value="" type="image" height="150" width="100" ng-src="{{thumbnail}}"> -->
          </div>
            <!-- <input ng-repeat="(images,thumbnail) in item" name="name" value="" type="image" height="150" width="100" ng-src="thumbnail">
            {{images}}
            {{thumbnail}} -->

            <input type="submit" name="name" value="I'm done">
        </form>

      </div>
      <div class="">
        {{search.forminfo}}
      </div>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="images.json" charset="utf-8"></script>
  </body>
</html>
